langchain<0.2.0
langchain_community<0.2.0
langchain_openai<0.2.0
langchain_core<0.2.0
openai
pypdf
chromadb
markdown
guardrails-ai
python-dotenv
waitress
setuptools 
bs4
pydantic
gunicorn
Flask
pysqlite3-binary